.sectionMenu{
  background-color:	#212529;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.sectionPag{
  background-color:	#f8f9fa;


}

.clAlig{

  align-items: end;
  align-content: end;
}

.clLogoIc{
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  margin-right: 5px;


}
.clMarg{
margin-left: 70%;
margin-right: 5%;
}



